<!DOCTYPE html>

<html lang="en">

<head>
    <% include partials/_header %>
    <title>TinyApp</title>
</head>

<body>
    <h1> Shorted links: </h1>
    <ul>
        <% for (urlFound in websites) { %>
            <%  if (websites[urlFound]["by"] == current_user) { %>
            <li>
                <b><%= websites[urlFound]["website"] %></b> is now: <b><i> <a href="/u/<%= urlFound %>">tinyapp/<%= urlFound %></a></i> </b>
                <p><form method="POST" action="/urls/edit/<%= urlFound %>"><input type="submit" value="Edit"></form>
                <form method="POST" action="/urls/delete/<%= urlFound %>"><input type="submit" value="Delete"></form></p>
            </li>
            <% } } %>
            <p> You dont have any website on your user</p>
    </ul>
    <p>If you want to create a new link -> <a href="/urls/new">click here</a></p>
</body>

</html>